*{
    margin: 0;
    padding: 0;
}

header{
    height: 100px;
    background-color: #530000;
}

ul {
    list-style-type: none;
}

.menu {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.item-menu {
    position: relative;
}

.item-menu:hover .sub-menu {
    max-height: 100vh;
}

.sub-menu {
    position: absolute;
    left: 0px;
    width: max-content;
    max-height: 0;
    background-color: #127E26;
    overflow: hidden;
    border-radius: 5px;
    transition: 1s;
}

.sub-menu a {
    display: block;
    color: #fff;
    text-decoration: none;
}

.sub-menu a:hover {
    color:#e8b3b3
}

.link-menu {
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}

.link-menu:hover {
    color: #9a9090;
}

.link-submenu {
    font-size: 16px;
    margin: 10px;
}

